spring.application.name=solvr

# Database Config
spring.datasource.url=jdbc:sqlserver://localhost:1433;databaseName=solvr;encrypt=true;trustServerCertificate=true
spring.datasource.username=sa
spring.datasource.password=Dev_Password
spring.datasource.driver-class-name=com.microsoft.sqlserver.jdbc.SQLServerDriver

spring.jpa.database-platform=org.hibernate.dialect.SQLServerDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
jwt.secret=halonamasayaalifnasdnasfkaskfakhbanfbasfbashfasbfasbfkjafkforanginiadalahkunciyangtidakbisadisolvesamaorangjadikamusuka

spring.mail.host=sandbox.smtp.mailtrap.io
spring.mail.port=2525
spring.mail.username=745b4873b1740d
spring.mail.password=0bef3bc50de5e4
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

#jwt.secret:defaultSecretKeyForDevelopment
#jwt.expiration.hours:24

#spring.datasource.initialization-mode=always
#spring.datasource.hikari.connection-timeout=30000
#spring.datasource.hikari.maximum-pool-size=10
